<!doctype html>
<html>
<head>
    <title>Beats & Bars</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/profile.css">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/theme-orange.css">

</head>
<body>

    <div class="clearfix booking-form neon-lit-background">
        <div class="booking-form__heading no-print">
             <div>
                <div class="neon-border neon-border--flush neon-border--blue neon-border--topgap-xxs neon-border--bottomgap-xxs">
                    <h1 class="h1 type-decorative text-glow pink">BEATS     <span class="h1 annoying type-decorative text-glow pink">   &   </span>   BARS</h1>

                    
                </div>
            </div>
        </div>
    </div>


    <div id="navBtns">
        <a href="/home" class=" navLink btn btn-default btn-sm glow">Profile</a>
        <a href="/swiping" class="navLink btn btn-default btn-sm glow">Swipe</a>
        <a href="/matches" class=" navLink btn btn-default btn-sm glow">Matches</a>
        <a href="/logout" class=" navLink btn btn-default btn-sm glow">Logout</a>
    </div>


  

<div class="container" id="userProfile">

<!--    add descriptors to this ejs -->
<!-- if you want to display a string in EJS use = if you wanna display code use - -->
        <div id="personProfile">
            <button id="setProfile"><a href="/userSetup" id="editProfile">Set Up or Edit your profile<a></button>

            <% for(let i =0;i<result.length;i++){ %>
                <img src="<%= result[i].imgPath %>" alt="" class="avatar">
               <p><%= result[i].firstname %>, <%= result[i].lastname %></p>
               <p>Bio: <%= result[i].bio %></p>
               <p>Genres: <%= result[i].genre1 %>, <%= result[i].genre2 %>, <%= result[i].genre3 %>, <%= result[i].genre4 %></p>
               <p>Influences: <%= result[i].influences %></p>
               <p>Instrument & Proficiency <%= result[i].instrument %>, level :<%= result[i].instrumentLevel %></p>
               <p>Instagram <%= result[i].instagramLink %></p>
               <p> Looking for: <%= result[i].looking %></p>
               <p><%- result[i].spotifyCode %></p>
               <p><%- result[i].youtubeCode %></p>
               <p><%- result[i].soundCloudCode %></p>
                <% } %>
        </div>
</div>





<script>
    var cont = $(".neon-lit-background");
var neon = $(".neon-border");
setInterval(function() {
var i = Math.floor((Math.random() * 10) + 1) * 200;
setTimeout(function() {
setTimeout(function() {
    $(cont).addClass("neon-lit-background--poweroff");
    $(neon).addClass("neon-border--poweroff");
  }, i),
  $(cont).removeClass("neon-lit-background--poweroff");
$(neon).removeClass("neon-border--poweroff");
}, 1000);
}, 2000);
</script>
</body>
</html>
